.image-carousel{
    width: 100%;
    height: 100%;
    background-size: cover; // Redimensionne l'image pour couvrir toute la surface
    background-position: center; // Centre l'image dans la div
  object-fit: cover;
  border-radius: 20px;
}
.btn-carousel{
  @include d-flex($justify: space-between);
  padding: 0 20px;
  position: absolute;
    width: 100%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);

   
    & img{
      @include small-device {
       width:25px;  }
    }
}
.slide-number{
  cursor: pointer;
  position: absolute;
    bottom: 15px;
    margin: auto;
    left: 50%;
    color: $light;
    transform: translate(-50%);

    @include small-device {
display: none;
        }
   }

