.tag-wrapper {
  @include d-flex($justify: flex-start);
  gap: 20px;
  @include small-device {
    margin: 15px 0 0;
  }
  & li {
    @include border-radius(15px);
    color: $light;
    background-color: $primary;
    width: fit-content;
    padding: 5px 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    @include small-device {
      font-size: 10px;
    }
  }
}
